{
    "useTabs": false,
    "svelteStrictMode": true,
    "svelteIndentScriptAndStyle": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "proseWrap": "always",
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "tailwindConfig": "tailwind.config.js",
    "tailwindFunctions": ["clsx", "classnames", "cva"],
    "tailwindAttributes": ["class", "className"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "tailwindStylesheet": "./src/app.css",
    "importOrder": ["^svelte", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
